body{
    font-family: "Rubik", sans-serif;
}

.borderRadius10{
    border-radius: 10px;
}
.sectionSpace-py{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 768px) {

    .sectionSpace-py{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .sectionSpace-mt{
        margin-top: 75px;
    }
    .sectionSpace-mb{
        margin-top: 75px;
    }
    .sectionSpace-my{
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .sectionSpace-py{
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

header{
    border-bottom: 1px solid #f1f1f1;
}

#logo span{
    color: #002fff;
}  

#homeBanner{
    background:url(./images/two-girls-banner.jpg) no-repeat left top;
    background-size: cover;
}
.homeBannerInner{
    padding: 25px;
}
.homeBannerInner h1{
    font-size: 2rem;
    line-height: 2rem;
}
.homeBannerInner p{
    font-size: 1rem;
    line-height: 1.3rem;
}
h2{
    font-size: 3rem;
    line-height: 3rem;;
}

#popularRides .card{
    background-size: cover;
    background-position: center;
}
#popularRides .card .cardDetails{
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    margin-top: 100px;
}
#popularRides .card h3{
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 0 0 0.6rem 0;
}

#popularRides .card p{
 margin: 0 0 0 0;
}

.highThrillRides{
    background-image: url("./images/highThrillRides.jpg");
}
.landRides{
    background-image: url("./images/landRides.jpg");
}
.waterRides{
    background-image: url("./images/WaterRides.jpg");
}
.kidsRides{
    background-image: url("./images/KidsRides.jpg");
}

@media (min-width: 576px) {
    #popularRides .card .cardDetails{
        min-height: 283px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #popularRides .card h3{
        font-size: 3rem;
        line-height: 3.2rem;
    }
}


@media (min-width: 768px) {
    #homeBanner{
        aspect-ratio: 6/3;
    }
    .homeBannerInner h1{
        font-size: 3.8rem;
        line-height: 3.8rem;
    }
    .homeBannerInner p{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    h2{
        font-size: 3.8rem;
        line-height: 3.8rem;
    }
    
}
@media (min-width: 992px) {
    .homeBannerInner h1{
        font-size: 6rem;
        line-height: 6rem;
    }
}


/* ourPackages Section */

#ourPackages{
    background-color: #4454ac;
}


#ourPackages .card h3{
    font-size: 2rem;
    line-height: 2.2rem;
}
@media (min-width: 576px) {
    #ourPackages .card h3{
        font-size: 3rem;
        line-height: 3.2rem;
    }
}

#contactUs{
    background-image: url("./images/siteBg.jpg");
}
#contactUs .inner{
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

